# Gluetun congig
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=<your wg key>
#FIREWALL_OUTBOUND_SUBNETS=100.64.0.0/10,192.168.1.0/24 # Tailscale subnet + local LAN
# Disable public IP checks
#PUBLICIP_ENABLED=no

# Tailscale config
TS_AUTHKEY=<your ts key>

LISTEN_ADDR=:8081
# Path to the file that persists the active server across restarts (must be on a volume)
STATE_FILE=/data/torpedo-state.json
